argcomplete==3.4.0
attrs==23.2.1.dev0
build==1.2.2.post1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cryptography==44.0.0
docutils==0.21.2
id==1.5.0
idna==3.10
isort==5.13.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.6.0
nh3==0.2.20
packaging==24.2
pipx==1.7.1
platformdirs==4.3.6
pycparser==2.22
Pygments==2.19.1
pyproject_hooks==1.2.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
SecretStorage==3.3.3
setuptools==75.8.0
srt2coprus @ file:///home/DK10/stuff/srtTOcorpus/dist/srt2coprus-0.0.1-py3-none-any.whl#sha256=1c458418229dc00573812b0c684b87137b5a3e7dd40184c4e95764687e3f7177
twine==6.1.0
urllib3==2.3.0
userpath==1.9.2
